@model WebsiteDatLichKhamBenh.Models.TinTuc

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.PageTitle = "Xóa Tin Tức";
}

<h3>Xóa Tin Tức</h3>

<p>Bạn có chắc chắn muốn xóa tin tức: <strong>@Model.TieuDe</strong>?</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.idTinTuc)
    <button type="submit" class="btn btn-danger">Xóa</button>
    @Html.ActionLink("Hủy", "Index", null, new { @class = "btn btn-secondary" })
}
