@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.PageTitle = "Dashboard";
}

<div class="mt-4">
    <div class="row">
        <div class="col-md-3">
            <div class="card text-white bg-primary mb-3">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div>
                            <h5 class="card-title">Lịch Hẹn Hôm Nay</h5>
                            <p class="card-text display-6">@ViewBag.ConfirmedAppointmentsToday</p>
                        </div>
                        <i class="fas fa-calendar-alt fa-3x"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-white bg-success mb-3">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div>
                            <h5 class="card-title">Bệnh Nhân Đã Đăng Ký</h5>
                            <p class="card-text display-6">@ViewBag.RegisteredPatientsToday</p>
                        </div>
                        <i class="fas fa-user-injured fa-3x"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-white bg-warning mb-3">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div>
                            <h5 class="card-title">Bác Sĩ Hiện Có</h5>
                            <p class="card-text display-6">@ViewBag.TotalDoctors</p>
                        </div>
                        <i class="fas fa-user-md fa-3x"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-white bg-danger mb-3">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div>
                            <h5 class="card-title">Ca Khám Hiện Hành</h5>
                            <p class="card-text display-6">@ViewBag.ActiveSchedules</p>
                        </div>
                        <i class="fas fa-stethoscope fa-3x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
